<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/love-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{0}] %-5level - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>



   <!-- <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->

    <root level="WARN">


        <appender-ref ref="RollingFile"/>
    </root>

    <logger name="org" level="INFO"/>
    <logger name="com" level="INFO,WARN"/>


</configuration>